<meta charset="utf-8"/>
<title>{{ page.title }}
  | Friend of Pixels</title>
<link href="/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180"/>
<link href="/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png"/>
<link href="/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png"/>
<link href="/site.webmanifest" rel="manifest"/>
<link color="#000000" href="/safari-pinned-tab.svg" rel="mask-icon"/>
<meta content="#da532c" name="msapplication-TileColor"/>
<meta content="#ffffff" name="theme-color"/>
<meta content="width=device-width, initial-scale=1" name="viewport"/>

<link href="/assets/reset.css" rel="stylesheet"/>
<link href="/assets/fonts.css" rel="stylesheet"/>
<link href="/assets/style.css" rel="stylesheet"/>
