@font-face {
  font-family: 'Konsole Regular';
  src: local('Konsole0.4'),
    url('https://lkpttn-font-server.s3.amazonaws.com/konsole/Konsole0.4-Regular.woff2')
      format('woff2'),
    url('https://lkpttn-font-server.s3.amazonaws.com/konsole/Konsole0.4-Regular.woff')
      format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Konsole Expanded Semibold';
  src: url('https://lkpttn-font-server.s3.amazonaws.com/konsole/Konsole0.4-ExpandedSemibold.woff2')
      format('woff2'),
    url('https://lkpttn-font-server.s3.amazonaws.com/konsole/Konsole0.4-ExpandedSemibold.woff')
      format('woff');
  font-weight: bold;
  font-style: normal;
}
