html {
  font-size: 1em;
}

body {
  background: #ffffff;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: rgb(34, 34, 34);
  font-size: 1.125em;
}

/* Text */
p {
  margin-bottom: 1.3em;
}

strong {
  font-weight: bold;
}

h1,
h2,
h3,
h4 {
  margin: 1.0em 0 0.5em;
  font-family: 'Inknut Antiqua', serif;
  font-weight: inherit;
  line-height: 1.4;
  color: #000000;
}

h1 {
  margin-top: 0;
  font-size: 2.0025em;
}

h2 {
  font-size: 1.78em;
}

h3 {
  font-size: 1.5825em;
}

h4 {
  font-family: 'Fira Sans', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(34, 34, 34);
}

h5 {
  color: #000;
  text-transform: uppercase;
}

small,
.font-small {
  font-size: 0.8em;
}

.metadata {
  text-transform: uppercase;
}

/* Basics */
ul {
  margin-bottom: 1.3em;
  list-style: disc inside;
}

hr {
  margin: 1.78em 0;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

figure {
  margin-bottom: 1.3em;
}

figcaption {
  padding-top: 5px;
  color: #9b9b9b;
}

/* Links */
a {
  color: #7B9680;
  text-decoration: none;
}
a:visited {
  color: #7B9680;
}
a:hover {
  color: #1D4036;
  text-decoration: underline;
}

/* Blockquotes */
blockquote {
  color: #000000;
  font-family: 'Inknut Antiqua', serif;
  border-left: 4px solid #1D4036;
  padding-left: 15px;
  margin-bottom: 15px;
  font-size: 18px;
  letter-spacing: -1px;
}
blockquote > :last-child {
  margin-bottom: 15px;
}

/* Code */
pre,
code {
  font-size: 15px;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 3px;
  background-color: #eeeeee;
  color: #000000;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 20px;
  overflow-x: auto;
  margin-bottom: 1.3em;
}
pre > code {
  border: 0;
  padding-right: 0;
  padding-left: 0;
}

/* Layout */
.header {
  width: 100%;
  height: 100px;
  position: relative;
}

.container {
  margin: 0 auto;
  display: grid;
  grid-template-columns:
    [edge-start] minmax(1.25rem, 1fr) [content-start] repeat(
      12,
      minmax(1.25rem, 5.20833rem)
    )
    [content-end] minmax(1.25rem, 1fr) [edge-end];
  grid-column-gap: 0.75%;
}

.container > * {
  grid-column: content-start / content-end;
}

@media (min-width: 500px) {
  .container > * {
    grid-column: content-start / span 9;
  }
}

@media (min-width: 900px) {
  .container > * {
    grid-column: content-start / span 7;
  }
}

.full-container {
  grid-column: content-start / content-end;
}

.aside {
  grid-column: content-start / span 6;
}

.right {
  grid-column: 8 / content-end;
}

.list {
  grid-row-start: 2;
  grid-column: content-start / content-end;
}

.list-columns {
  column-count: 1;
  column-gap: 1em;
  list-style: none;
}

@media (min-width: 500px) {
  .list-columns {
    column-count: 2;
  }
}

@media (min-width: 900px) {
  .list-columns {
    column-count: 3;
  }
}

.list-columns .projects::before {
  content: '+';
}

.list-columns .posts::before {
  content: '–';
}

.list-columns .experiments::before {
  content: '>';
}

.navigation {
  grid-column: edge-start / edge-end;
  margin: 15px 0;
}

.navigation-links {
  grid-column: content-start / content-end;
}

/* Posts */
.post-header {
  padding-bottom: 30px;
}

.post-title {
  grid-column: content-start / content-end;
  padding-top: 30px;
}

@media (min-width: 900px) {
  .post-title {
    grid-column: content-start / 7;
    grid-row-start: 1;
    padding-top: 200px;
  }
}

.post-title h1 {
  margin: 0;
}

.experiment-title {
  grid-column: content-start / content-end;
  padding-bottom: 30px;
}

@media (min-width: 900px) {
  .experiment-title {
    grid-column: content-start / 7;
    grid-row-start: 1;
  }
}

.experiment-title h1 {
  margin: 0;
}

.post-image {
  grid-column: edge-start / edge-end;
  grid-row-start: 1;
  max-height: 480px;
  overflow: hidden;
}

@media (min-width: 900px) {
  .post-image {
    grid-column: 7 / edge-end;
  }
}

.embed {
  grid-column: content-start / content-end;
}

.gallery > img {
  max-height: 700px;
  padding-bottom: 5px;
}

/* Miscellaneous */
.logo {
  height: 70px;
  position: relative;
}

@media (min-width: 1200px) {
  .logo {
    position: fixed;
  }
}

canvas {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.browser {
  grid-column: content-start / content-end;
}

.footer {
  margin-top: 5.20833rem;
  margin-bottom: 5em;
}
