html {
  font-size: 1em;
}

body {
  background: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.45rem;
  color: rgb(34, 34, 34);
  font-size: 1.125em;
}

p,
ul,
ol,
blockquote,
pre,
.footnote {
  margin-bottom: 31px;
}

/* Text */
p {
  line-height: 31px;
}

strong {
  font-weight: bold;
}

h1,
h2,
h3,
h4 {
  margin: 1em 0 0.5em;
  font-weight: 700;
  font-style: normal;
  color: #000000;
}

h1 {
  font-size: 37px;
  line-height: 58px;
  margin-bottom: 31px;
}

h2 {
  font-size: 29px;
  line-height: 47px;
  margin-bottom: 19px;
}

h3 {
  font-size: 23px;
  line-height: 38px;
  margin-bottom: 12px;
}

h4 {
  font-size: 18px;
  line-height: 31px;
  margin-bottom: 7px;
  text-transform: uppercase;
  color: #637474;
}

h5 {
  margin-bottom: 5px;
  color: #000;
  text-transform: uppercase;
}

.headline {
  line-height: 47px;
}

small,
.font-small {
  font-size: 14px;
  line-height: 19px;
  color: #637474;
}

.metadata {
  text-transform: uppercase;
}

/* Basics */
ul {
  list-style: disc inside;
}

li {
  margin-bottom: 12px;
}

hr {
  color: #637474;
  margin: 0 0 31px 0;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

figure {
  margin-bottom: 31px;
}

figcaption {
  padding-top: 5px;
  color: #637474;
}

/* Links */
a {
  color: #4c823a;
  text-decoration: none;
}
a:visited {
  color: #4c823a;
}
a:hover {
  color: #1d4036;
  text-decoration: underline;
}

/* Blockquotes */
blockquote {
  color: #000000;
  border-left: 4px solid #1d4036;
  padding-left: 15px;
  margin-bottom: 15px;
  letter-spacing: -1px;
}
blockquote > :last-child {
  margin-bottom: 15px;
}

/* Code */
pre,
code {
  font-size: 15px;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 3px;
  background-color: #eeeeee;
  color: #000000;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 20px;
  overflow-x: auto;
  margin-bottom: 1.3em;
}
pre > code {
  border: 0;
  padding-right: 0;
  padding-left: 0;
}

/* Layout */
.header {
  width: 100%;
  height: 100px;
  position: relative;
}

.container {
  margin: 0 auto;
  display: grid;
  grid-template-columns:
    [edge-start] minmax(1.25rem, 1fr) [content-start] repeat(
      12,
      minmax(1.25rem, 5.20833rem)
    )
    [content-end] minmax(1.25rem, 1fr) [edge-end];
  grid-column-gap: 0.75%;
}

.container > * {
  grid-column: content-start / content-end;
}

@media (min-width: 500px) {
  .container > * {
    grid-column: content-start / span 9;
  }
}

@media (min-width: 900px) {
  .container > * {
    grid-column: content-start / span 7;
  }
}

.full-container {
  grid-column: content-start / content-end;
}

.list {
  grid-row-start: 2;
  grid-column: content-start / content-end;
}

.list-columns {
  column-count: 1;
  column-gap: 1em;
  list-style: none;
}

@media (min-width: 500px) {
  .list-columns {
    column-count: 2;
  }
}

@media (min-width: 900px) {
  .list-columns {
    column-count: 3;
  }
}

.list-columns .projects::before {
  font-family: monospace;
  content: '+';
}

.list-columns .posts::before {
  font-family: monospace;
  content: '–';
}

.list-columns .experiments::before {
  font-family: monospace;
  content: '>';
}

.list-columns li {
  margin-bottom: 4px;
}

.navigation {
  grid-column: edge-start / edge-end;
  margin: 15px 0;
}

.navigation-links {
  grid-column: content-start / content-end;
}

/* Posts */
.post-header {
  padding-bottom: 31px;
}

.post-title {
  grid-column: content-start / content-end;
  padding-top: 31px;
}

@media (min-width: 900px) {
  .post-title {
    grid-column: content-start / 7;
    grid-row-start: 1;
    padding-top: 200px;
  }
}

.post-title h1 {
  margin: 12px 0;
}

.experiment-title {
  grid-column: content-start / content-end;
  padding-bottom: 31px;
}

@media (min-width: 900px) {
  .experiment-title {
    grid-column: content-start / 7;
    grid-row-start: 1;
  }
}

.experiment-title h1 {
  margin: 0;
}

.post-image {
  grid-column: edge-start / edge-end;
  grid-row-start: 1;
  max-height: 480px;
  overflow: hidden;
}

@media (min-width: 900px) {
  .post-image {
    grid-column: 7 / edge-end;
  }
}

.embed {
  grid-column: content-start / content-end;
}

.gallery > img {
  max-height: 700px;
  padding-bottom: 5px;
}

/* Miscellaneous */
.logo {
  height: 70px;
  position: relative;
}

@media (min-width: 1200px) {
  .logo {
    position: fixed;
  }
}

canvas {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.browser {
  grid-column: content-start / content-end;
}

.footer {
  margin-top: 62px;
  margin-bottom: 31px;
}
