html {
  font-size: 1em;
}

body {
  background: #fbf8f8;
  font-family: 'Source Sans Pro', serif;
  font-weight: 400;
  color: #0b1a17;
  font-size: 21px;
  line-height: 24px;
}

p,
ul,
ol,
blockquote,
pre,
.footnote {
  margin-bottom: 31px;
}

/* Text */
p {
  line-height: 30px;
}

strong {
  font-weight: bold;
}

h1,
h2,
h3,
h4 {
  font-family: 'Konsole Expanded Semibold', 'Helvetica Neue', sans-serif;
  margin: 1em 0 0.5em;
  font-weight: 700;
  font-style: normal;
  color: #25453d;
}

h1 {
  font-size: 42px;
  line-height: 50px;
  margin-bottom: 31px;
}

h2 {
  font-size: 29px;
  line-height: 43px;
  margin-bottom: 19px;
}

h3 {
  font-size: 23px;
  line-height: 38px;
  margin-bottom: 12px;
}

h4 {
  font-family: 'Konsole Expanded Semibold', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  line-height: 31px;
  margin-bottom: 7px;
  text-transform: uppercase;
}

h5 {
  margin-bottom: 5px;
  text-transform: uppercase;
}

.headline {
  background: #1c3230;
  color: #fbf8f8;
  padding: 15px;
}

small,
.font-small {
  color: #25453d;
  font-size: 16px;
  line-height: 21px;
}

.metadata {
  text-transform: uppercase;
  color: #1c3230;
}

/* Basics */
ul {
  list-style: inside;
}

li {
  margin-bottom: 12px;
}

hr {
  color: #707066;
  border-color: #707066;
  margin: 0 0 31px 0;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

figure {
  margin-bottom: 31px;
}

figcaption {
  padding-top: 5px;
  color: #707066;
}

/* Links */
a {
  color: #0b1a17;
  text-decoration: underline;
}
a:visited {
  color: #0b1a17;
}
a:hover {
  color: #30a37a;
  text-decoration: underline;
}

/* Blockquotes */
blockquote {
  color: #000000;
  border-left: 4px solid #1d4023;
  padding-left: 15px;
  margin-bottom: 15px;
  letter-spacing: -1px;
}
blockquote > :last-child {
  margin-bottom: 15px;
}

/* Code */
pre,
code {
  font-size: 15px;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 3px;
  background-color: #eeeeee;
  color: #000000;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 20px;
  overflow-x: auto;
  margin-bottom: 1.3em;
}
pre > code {
  border: 0;
  padding-right: 0;
  padding-left: 0;
}

/* Layout */
.main {
  padding-bottom: 0px;
}

@media (min-width: 500px) {
  .main {
    padding-bottom: 66px;
  }
}

.container {
  margin: 0 auto;
  display: grid;
  grid-template-columns:
    [edge-start] minmax(1.25rem, 1fr) [content-start] repeat(
      12,
      minmax(1.25rem, 5.20833rem)
    )
    [content-end] minmax(1.25rem, 1fr) [edge-end];
  grid-column-gap: 1%;
}

.container > * {
  grid-column: content-start / content-end;
}

@media (min-width: 500px) {
  .container > * {
    grid-column: content-start / span 9;
  }
}

@media (min-width: 900px) {
  .container > * {
    grid-column: content-start / span 8;
  }
}

.home-title {
  padding-top: 100px;
  grid-row-start: 1;
}

.home-title h1 {
  margin: 0;
}

.home-title p {
  background: #fbf8f8;
  padding: 15px 0;
}

@media (min-width: 500px) {
  .home-title p {
    padding: 15px;
  }
}

.home-image {
  grid-row-start: 1;
  grid-column: 7 / edge-end;
  max-height: 700px;
}

.full-container {
  grid-column: content-start / content-end;
}

.column {
  grid-column: content-start / content-end;
}

@media (min-width: 500px) {
  .column {
    grid-row-start: 2;
    grid-column: span 4;
  }

  .projects {
    grid-column: 2 / span 4;
  }
}

.list {
  grid-row-start: 2;
  grid-column: content-start / content-end;
}

.list-columns {
  list-style: none;
}

.list-columns li {
  margin-bottom: 8px;
}

.navigation {
  grid-column: content-start / content-end;
  margin: 15px 0;
}

.navigation-links {
  grid-column: content-start / content-end;
}

/* Posts */
.post-header {
  padding-bottom: 31px;
}

.post-title {
  grid-column: content-start / content-end;
  padding-top: 31px;
}

@media (min-width: 900px) {
  .post-title {
    grid-column: content-start / 8;
    grid-row-start: 1;
    padding-top: 100px;
  }
}

.post-title h1 {
  margin: 12px 0;
}

.experiment {
  padding-top: 0;
}

.post-image {
  grid-column: edge-start / edge-end;
  grid-row-start: 1;
  max-height: 480px;
  overflow: hidden;
}

@media (min-width: 900px) {
  .post-image {
    grid-column: 7 / edge-end;
  }
}

.embed {
  grid-column: content-start / content-end;
}

.gallery > img {
  max-height: 700px;
  padding-bottom: 5px;
}

/* Miscellaneous */
.logo {
  height: 70px;
  position: relative;
}

canvas {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.browser {
  grid-column: content-start / content-end;
}

.footer {
  margin-top: 62px;
  margin-bottom: 31px;
}
