<!DOCTYPE html>
<html>
  <head>
    {% include header.html %}
  </head>

  <body>
    {% include navigation.html %}
    <div id="content">
      <div class="post-header container">
        {% if page.image %}
          <figure class="post-image">
            <img src="/assets/images/{{ page.image }}" alt="{{ page.title }}"/>
          </figure>
        {% endif %}

        <div class="post-title">
          <h1 class="headline">{{ page.title }}</h1>
          <h5 class="font-small">
            {{ page.date | date_to_long_string }}
          </h5>
        </div>
      </div>

      <div class="container">{{ content }}</div>
    </div>
    {% include footer.html %}
  </body>
</html>
